/* You can add global styles to this file, and also import other style files */
$main: #323f3e;

.bg-main{
  background: #1f2d38;
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: #ffc107;
  }
}

.bg-main {
  background-clip: $main;
}

button {
  cursor: pointer;
}

section {
  min-height: 600px;
}