/* You can add global styles to this file, and also import other style files */
$main: #323f3e;

.bg-main{
  background: #1f2d38;
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: #ffc107;
  }
}

.bg-main {
  background-clip: $main;
}

button {
  cursor: pointer;
}

section {
  min-height: 600px;
}

h5 {
  overflow-wrap: break-word;
}

.image {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 2rem
}

.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}

.full {
  color: gold;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: gold;
}