.search-btn {
  cursor: pointer;
  border: none;
  padding: .35rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.logo{
  width: 50px;
}