<section id="registrationPage">
    <div class="container p-5">
        <div class="row mt-5">
            <div class="col-lg-4 offset-lg-4">
                <app-message></app-message>
                <div class="card bg-light">
                    <div class="card-body">
                        <h4 class="text-center">Registration</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <strong>Registration:</strong>
    <p>{{email}}</p>
    <p>{{password}}</p>
    <p>{{name}}</p>
    <p>{{isSeller}}</p>
    <button (click)="registerUser()">Register</button>
</div>
